body {
    font-family: 'Fira Sans', sans-serif;
}

.bg-black {
    background-color: black;
}

.custom-font-h3 {
    font-size: 40px;
}

/* home slider */
.home-slider h2 {
    font-size: 48px;
}

.home-slider .btn-outline-light {
    font-size:28px;
    line-height: normal;
}
/* home slider end */

/* home section */
.about-section p {
    font-size: 16px;
    line-height: 28px;
}
/* about section end */

/* service section */
.service-box h4 {
    font-size: 24px;
}
/* service section end */

/* contact section */
.contact-section {
    background-image: url(../images/footer-bk.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.contact-box .form-group {
    height: 50px;
}

textarea {
    resize: none;
}

.address-box p {
    font-size: 16px;
    line-height: 22px;
} 
/* contact section end */

@media(max-width:991px){
    #focuzSlider .carousel-caption h2 {
        font-size: 36px;
    }
}

@media(max-width:767px){
    header .navbar-brand img {
        width: 200px;
    }
} 