body {
    font-family: 'Fira Sans', sans-serif;
}

.bg-black {
    background-color: black;
}

.custom-font-h3 {
    font-size: 40px;
}

/* home slider */
.home-slider h2 {
    font-size: 48px;
}

.home-slider .btn-outline-light {
    font-size:28px;
    line-height: normal;
}
/* home slider end */

/* home section */
.about-section p {
    font-size: 16px;
    line-height: 28px;
}
/* about section end */

/* service section */
.service-box h4 {
    font-size: 24px;
}
/* service section end */